
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.logo img {
    height: 60px; 
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
}

.nav-icons {
    display: flex;
    align-items: center;
    padding:  40px;
    gap: 20px;
}


.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    flex-grow: 1;
    justify-content: center; 
  }


  
.login-btn {
    padding: 10px 20px;
    background-color: orange; 
    color: #fff; 
    border: none;
    cursor: pointer;
    text-decoration: none; 
    border-radius: 10px; 
}

